header{
    display: block;
    position: sticky;
    top: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 0 var(--mb-3);
    background-color: #fff;
    align-items: center;
}
.header .navlogo{
    display: flex;
    align-items: center;
}
.navlogo .logo img{
    width: 150px;
    height: 130px;
}
.header .title{
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    letter-spacing: 2px;
}
.header .navbar ul{
    display: flex;
    align-items: center;
    gap: var(--mb-1-5);
}
.navbar .toggleMenu{
    font-size: 30px;
    color: #009B4F;
    /* display: none; */
    visibility: hidden;
    cursor: pointer;
}

.header .search-bar{
    display: flex;
    align-items: center;
}

.search-bar .input{
    position: relative;
}

.search-bar .icon{
    position: absolute;
    padding-left: 9px;
}


.header .navbar input{
    position: relative;
    outline: none;
    background: url("src/img/search-logo.png") no-repeat 9px 9px;
    padding: 0.15rem;
    border: 1px solid #111;
    border-radius: 20px;
    width: 150px;
    height: 25px;
    padding-left: 30px;
    transition: all .3s ease-in-out;
}
.navbar input:focus{
    width: 250px;
    transition: all .3s ease-in-out;
}
.header .navbar a{
    position: relative;
    padding-bottom: 5px;
    color: #00BF61;
    font-size: 1.15rem;
}
.panier i{
    font-size: 30px;
}

.header .navbar a.button{
    background-color: #00BF61;
    color: #fff;
    padding: var(--mb-0-5) var(--mb-1-5);
    border: 2px #00BF61 solid;
    border-radius: 20px;
    transition: all .3s ease-in-out;
}
.header .navbar a.button:hover{
    background-color: transparent;
    color: #00BF61;
    transition: all .3s ease-in-out;
}

.subheader{
    background-color: #00BF61;
    
}
.subheader .menu{
    display: flex;
    justify-content: space-around;
}
.subheader li{
    position: relative;
    display: inline-block;
    transition: all .3s ease-in-out;
}

.subheader li a{
    display: block;
    font-size: 25px;
    padding: 20px;
    color: #fff;
}
.subheader li:hover{
    background-color: #009B4F;
    transition: all .3s ease-in-out;
}

.subheader li:hover .submenu{
    display: block;
    transition: all .3s ease-in-out;
}
.submenu li:hover{
    background-color: #009B4F;
    transition: all .3s ease-in-out;
}
.submenu{
    background-color: #00BF61;
    position: absolute;
    display: none;
    transition: all .3s ease-in-out;
}
.submenu li {
    width: 100%;
}
.submenu li a{
    font-size: 17px;
}

/* BREAKPOINTS */
/* for large devices */
@media screen and (max-width: 992px){

}

/* for medium devices */
@media screen and (max-width: 768px){
    header{
        border-bottom: 1px solid #333;
    }
    .navbar{
        display: none;
    }
    .navbar input, 
    .navbar .icon{
        display: none;
    }
    .subheader{
        display: none;
    }
}

@media screen and (max-width: 576px){

}

/* for smaller devices */
@media screen and (max-width: 350px){

}
