.produits{
    padding: 0 100px;
}
.produit_header{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.produit_header .title{
    font-size: 30px;
    font-weight: 500;
}

.produit_container{
    margin-top: 50px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 30px;
}

.produit_title {
    font-size: 20px;
    margin: 20px 0;
}
.produit_info,
.produit_prix{
    color: #b3b3b3;
}
.produit_prix{
    padding-top: 10px;
}
.produit_prix_data{
    color: rgb(92, 92, 92);
    font-weight: 500;
}

.produit_card{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #F4F4F4; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    padding: 50px 20px;
    max-width: 250px;
}
.produit_btn{
    background-color: #00BF61;
    border: 2px solid #00BF61;
    border-radius: 50px;
    padding: 10px 20px;
    color: #fff;
    font-size: 17px;
    margin-top: 20px;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.produit_btn:hover{
    background-color: transparent;
    color: #00BF61;
    transition: .3s ease-in-out;
}

select{
    padding: 20px;
}
